leaks.csv
.vs
.DS_Store
.package-lock.json
node_modules

library/include/RadJav/RadJavJavascriptCode.h
library/build*
vm/build*
vm/installers/windows/x86/build
vm/installers/windows/x86/RadJavVM/Debug
vm/installers/windows/x86/RadJavVM/Release
vm/installers/windows/x64/build
vm/installers/windows/x64/RadJavVM/Debug
vm/installers/windows/x64/RadJavVM/Release

html5/build/*
!html5/build/.gitkeep
html5/closure*.jar
html5/node_modules
html5/package-lock.json

# Emacs backup files
*~
\#*\#
.\#*

# KeyValueStorage database
*.db

# Crypto engine build
library/engines/KrispyCrypto/build*

# COLLADA loader for Ogre 3D engine
library/engines/OgreCollada/build*

