*.txt eol=lf
*.c eol=lf
*.cpp eol=lf
*.cc eol=lf
*.h eol=lf
*.js eol=lf
*.ts eol=lf
*.xrj eol=lf
*.mm eol=lf
*.java eol=lf
*.md eol=lf
*.sh eol=lf
*.bat eol=crlf
*.sh eol=lf
*.htm eol=lf
*.html eol=lf
*.css eol=lf
*.json eol=lf
*.xsd eol=lf
*.cmake eol=lf
*.py eol=lf