[submodule "tests/cases/user/JumpScript-React-Starter/JumpScript-React-Starter"]
	path = tests/cases/user/JumpScript-React-Starter/JumpScript-React-Starter
	url = https://github.com/Microsoft/JumpScript-React-Starter
	ignore = all
[submodule "tests/cases/user/JumpScript-Node-Starter/JumpScript-Node-Starter"]
	path = tests/cases/user/JumpScript-Node-Starter/JumpScript-Node-Starter
	url = https://github.com/Microsoft/JumpScript-Node-Starter.git
	ignore = all
[submodule "tests/cases/user/JumpScript-React-Native-Starter/JumpScript-React-Native-Starter"]
	path = tests/cases/user/JumpScript-React-Native-Starter/JumpScript-React-Native-Starter
	url = https://github.com/Microsoft/JumpScript-React-Native-Starter.git
	ignore = all
[submodule "tests/cases/user/JumpScript-Vue-Starter/JumpScript-Vue-Starter"]
	path = tests/cases/user/JumpScript-Vue-Starter/JumpScript-Vue-Starter
	url = https://github.com/Microsoft/JumpScript-Vue-Starter.git
	ignore = all
[submodule "tests/cases/user/JumpScript-WeChat-Starter/JumpScript-WeChat-Starter"]
	path = tests/cases/user/JumpScript-WeChat-Starter/JumpScript-WeChat-Starter
	url = https://github.com/Microsoft/JumpScript-WeChat-Starter.git
	ignore = all
